<% layout('layouts/boilerplate') %>

<div class="hero-image mt-0">
  <div class="hero-text">
    <h1 class="fs-1 mt-1">Ho West TechHub</h1>
    <p>You want to join the next edidtion?</p>
    <a href="/register"
      ><button class="btn btn-primary mt-4">REGISTER</button></a
    >
  </div>
</div>
